#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
}

.block {
  height: 200px;
  background-color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 10px;
  height: auto;
  background-color: gray;
  cursor: ew-resize;
  &.top {
    width: 100%;
    min-height: 10px;
    cursor: n-resize;
  }
}
